<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layouts/index-layout"
>
<head>
<meta charset="UTF-8">
<title>Page d'accueil</title>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div layout:fragment="content">
<br/>
<div class="container">
<h4 th:text="${message}">contenu par défaut</h4>

<p>
Le contenu de Thymeleaf peut être du simple texte ou une expression qui sera interprétée à l'exécution.
Les expressions sont délimitées par: </br>
${....} pour les expressions à évaluer</br>

*{....} pour les expressions de sélection à évaluer</br>

#{....} pour les expressions de messages<br/>

@{....} pour les expression d'URL <br/>

</p>

<div th:text="${player.name}">nom par défaut</div>
<br/>
<p>Boucle FOR</p>
<table border="1">
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>
	
	<tbody th:each="p : ${players}">
		<tr>
			<td th:text="${p.name}">vide</td>
		</tr>
	</tbody>
</table>
<br/>
<p>Condition IF:</p>
Votre nom: <div th:if="${player.name.length > 0}">
			<span th:text="${player.name}">Aucun nom</span>
          </div>

<br/>

<p>Condition If/Unless</p>
<span th:if="${player.name.length > 5}"> sup à 5</span>
<span th:unless="${player.name.length > 5}"> inf à 5</span>

</br>

<br/>

<a th:href="@{/produits/display}">Gestion des produits</a>
<b>(<a th:href="@{/load}">Charger les données de test</a>)</b>
</div>

</div>
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>